
blinker==1.6.2
click==8.1.7
decorator==4.4.2
env==0.1.0
Flask==2.3.3
Flask-Login==0.6.2
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-WTF==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
pylance==0.7.4
pymongo==4.5.0
requests==2.27.1
Werkzeug==2.3.7
Flask-PyMongo==2.3.0
Flask-Login==0.6.0
