@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* Default font size for body content */
body {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

/* Media query for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
    body {
        font-size: 18px; /* Adjust font size for larger screens */
    }
}

/* Apply the "Barlow Condensed" font to header and footer */
header,
footer {
    font-family: "Barlow Condensed", sans-serif;
}

h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 5em;
}

header {
    min-height: 128px;
}

main {
    margin-bottom: 100px; 
}

footer {
    background-color: #4caf50; 
    color: white; 
    text-align: center;
    padding: 16px 0;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    left: 0;
    right: 0;
}

.custom-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    color: green;
}
