<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/img/favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Horticulture Consultancy and Design located in South Wales">
    <title>Hearten Horticulture Ltd.</title>
</head>

<body>
    <!-- Logo and navbar -->
    <header>
        <nav class="navbar light-green" style="height: 128px;">
            <div class="nav-wrapper">
                <a href="{{ url_for('homepage') }}" class="brand-logo">
                    <img src="{{ url_for('static', filename='/img/logovector.webp') }}" id="myLogo"
                        alt="Hearten Horticulture Logo" style="max-height: 128px;">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="fas fa-bars" style="color: #f4f6fb;" aria-label="sidenav"></i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('homepage') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin') }}">Administration</a></li>
                    <li><a href="{{ url_for('add_holiday') }}">Holidays</a></li>
                    {% else %}
                    <li><a href="{{ url_for('my_appointments') }}">My Appointments</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <li><a href="{{ url_for('admin') }}">Administration</a></li>
                <li><a href="{{ url_for('add_holiday') }}">Holidays</a></li>
                {% else %}
                <li><a href="{{ url_for('my_appointments') }}">My Appointments</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
    </main>
    <div class="container">
        <div class="row">
            <h1 class="center green-text text-darken-3">Welcome to Hearten Horticulture</h1>
            <Br>
            <div class="col s6 center">
                <a href="{{ url_for('register') }}" class="waves-effect waves-light btn green">Register</a>
            </div>
            <div class="col s6 center">
                <a href="{{ url_for('login') }}" class="waves-effect waves-light btn green">Login</a>
            </div>
        </div>
    </div>

    <div class="container center">
        <!-- Check if a user is logged in -->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('bookappointment') }}" class="btn waves-effect waves-light green">Book a Session Here!</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light green">Register to Book a Session</a>
        {% endif %}
    </div>
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer light-green">
        <div class="container fixed-bottom">
            <a href="https://www.facebook.com/heartenhorticulture" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook fa-3x white-text" aria-hidden="true"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter-square fa-3x white-text" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" aria-label="Youtube">
                <i class="fab fa-youtube-square fa-3x white-text" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/heartenhorticulture/" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram fa-3x white-text" aria-hidden="true"></i>
            </a>
            <div class="footnotes center">
                <span>&copy; <span id="current-year"></span> Rhys Bobbett</span>
                <span>- For Educational Purposes Only</span>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            document.getElementById('current-year').textContent = new Date().getFullYear();
        });

        document.addEventListener('DOMContentLoaded', function () {
            var datepicker = document.querySelectorAll('.datepicker');
            var options = {
                format: 'yyyy-mm-dd', // Set your desired date format
                autoClose: true, // Close the date picker when a date is selected
            };
            M.Datepicker.init(datepicker, options);
        });

        var footer = document.querySelector('.page-footer');

        // Function to toggle the footer visibility
        function toggleFooterVisibility() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                footer.style.display = "none";
            } else {
                footer.style.display = "block";
            }
        }

        window.onscroll = function () {
            toggleFooterVisibility();
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>