{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="center green-text text-darken-3">Holiday Confirm Deletion</h1>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Are you sure you want to delete this holiday?</span>
                    <p>Date: {{ holiday.date }}</p>
                    <p>Description: {{ holiday.description }}</p>
                    <form action="{{ url_for('delete_holiday', holidayId=holiday._id) }}" method="POST">
                        <button class="btn waves-effect waves-light red" type="submit">Confirm Delete</button>
                    </form>
                    <a href="{{ url_for('holidays') }}" class="btn waves-effect waves-light">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}