{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="center green-text text-darken-3">My Appointments</h1>
  <div class="center">
    <a href="{{ url_for('bookappointment') }}" class="green btn btn-success" aria-label="Book a session">Book a session
      here!</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Session ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Session Length</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.sessionId }}</td>
        <td>{{ appointment.fname }}</td>
        <td>{{ appointment.lname }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.sessionLength }}</td>
        <td>{{ appointment.description }}</td>
        <td>
          <a href="{{ url_for('edit_appointment', sessionId=appointment.sessionId) }}" class="btn btn-primary">Edit</a>
          <form method="POST" action="{{ url_for('delete_appointment', sessionId=appointment.sessionId) }}"
            style="display: inline;">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}